.box1 {
  border: 1px cyan dashed;
	padding: 2px;
}

.box2 {
	border: 1px pink solid;
	padding: 2px;
}

.bigText {
	font-size: 6em;
	padding: 1rem;
}

.flexBox {
	display: flex;
	flex-flow: row wrap;
	gap:8; 
}

.flexBox > div {
	flex-grow: 1
}
